.richCodeRunner{
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    font-size: 22px;
    padding: 25px;
}

.correctFunction{
    color: #88994a;
    font-size: 22px;
}