<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <script src="node_modules/createjs-easeljs/lib/easeljs-0.8.2.min.js"></script>
    <script src="node_modules/createjs-tweenjs/lib/tweenjs-0.6.0.min.js"></script>
    <title>Game Me</title>
  </head>
  <body style="margin: 0">
    <div id='root'></div>
  </body>
</html>
